body {
    background-color: #303242;
}

section {
    margin-left: 65vh;
    position: relative;
    align-content: center;
}

.englandMap {
    position: absolute;
}

.dover {
    font-size: 40px;
    z-index: 1;
    color: white;
    margin-top: 600px;
    margin-left: 300px;
    animation: puls 2s infinite;
}

.dover:hover {
    transition-duration: 0.2s;
    font-size: 45px;
    color: #f2be8d;
}

@keyframes puls {
    0% {
        font-size: 40px;
    }
    50% {
        font-size: 42px;
    }
    100% {
        font-size: 40px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}